html {
    background: #18453B;
}

body {
    margin: 40px;
    padding: 40px;
    background-color: rgb(143, 143, 143);
}

.header {
    text-align: center;
}

.input-boxes {
    display: flex;
    margin: 20px;
    padding: 10px;
    align-items: baseline;
}